.filterby-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 8px;
}

button {
    margin-left: 4px;
    margin-right: 4px;
    background-color: lightgray;
    color: black;
}

button:hover {
    background-color: gray;
    color: white
}

.selected {
    background-color: #22ee22;
    color: white;
}

